.contacts {
  width: calc(50% - 15px);
  padding-left: 100px;
  padding-top: 130px;
  padding-bottom: 130px;
}

.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 40px;
}

.contacts-list {
  max-width: 270px;
  margin-bottom: 70px;
}

.contacts-item + .contacts-item {
  margin-top: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  font-style: normal;
}

.contacts-time-title {
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-time-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}
