.reasons {
  padding-top: 121px;
  padding-bottom: 130px;
}

.reasons-digit {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
  color: #303030;
}

.reasons-pre-title {
  margin-bottom: 20px;
  color: #303030;
}

.reasons-title {
  margin-bottom: 20px;
  color: var(--second-title-color);
}

.reasons-after-title {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #555555;
}
